* {
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
}

.header {
    background-color: white;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
}

.link-logo {
    padding: 10px;
    width: 155px;
}

.menu {

    font-size: 16px;
    display: flex;
    margin: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 10px 10px 13px 10px;
    list-style: none;
}

.link {
    margin: 10px;
    color: #4a4a4a;
    padding: 10px;
    text-decoration: none;
}

/* main  */
main {
    /* margin: 0; */
    background-color: #3CDBC0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h1 {

    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    align-self: center;
    width: 200px;
}



/* mediaqueris */
@media all and (min-width: 768px) {

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .link {
        padding: 20px;
        padding-left: 30px;
    }

    main {
        font-size: 40px;

    }
}